#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid {
    
}
.cell {
    height: 50px;
    width: 50px;
}

.turn {
    display: flex;
    justify-content: center;
}
.player1-symbol, .player2-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    height: 50px;
    width: 100px;
}
.player1-symbol {
    background-color:lightcoral;
}
.player1-symbol[data-isActive = true] {
    background-color:red;
}
.player2-symbol {
    background-color: lightblue;
}
.player2-symbol[data-isActive = true] {
    background-color: blue;
}